@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Monoton&family=Press+Start+2P&family=Vujahday+Script&display=swap');
/*Imported font styles for main titles*/

/* Landing Page Styles */

/* Set background color, reset margin and padding, and center content vertically and horizontally */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
}
/* Styling for the main title */
#main-title {
    font-family: 'Monoton', cursive;
    background: -webkit-linear-gradient(#f18406, #eb68d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15vmin;
    font-weight: 550;
    text-align: center;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 15vmin;
}
 /* Styling for the secondary title */
#sec-title {
    font-family: 'Vujahday Script', cursive;
    background: -webkit-linear-gradient(#2afd00, #f7d306);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8vmin;
    position: absolute;
    width: 35%;
    left: 60%;
    top: 33%;
}
/* Styling for the enter button */
.enter {
    margin-top: 100%; 
    font-family: 'Press Start 2P', cursive;
    color: #70706f;
    font-weight: 100;
    font-size: 4vmin;
    text-align: center;
    border: 4px solid #70706f;
    border-radius: 3px;
    width: 150%; 
    padding: 10px;
    cursor: pointer;
    background: none;
}
/* Styling for button hover effect */
#enter:hover{
    color: rgb(156, 156, 156);
    border: solid rgb(156, 156, 156);
}

/*Sapace Invaders Page*/
/*Styling for the Background */
.space-page{
    text-align: center;
    background-image: url("../images/bkgn-img.png");
    background-size: auto;
    background-repeat: repeat;
  
}
/* Styling for the main title */
#space-title{
    font-family: 'Bungee Shade', cursive;    
    color:  rgb(56, 248, 8);
    background-color: #080169;
    font-size:10vmin;
    margin: 0;
}
/* Styling for the home button */
#home {
    font-family: 'Press Start 2P', cursive;
    color: #70706f;
    font-weight: 100;
    font-size: 4vmin;
    text-align: center;
    border: 4px solid #70706f;
    border-radius: 3px;
    width: 30%;
    height: 30%;
    cursor: pointer;
    background: none;    
}
/* Styling for button hover effect */
#home:hover{
    color: rgb(156, 156, 156);
    border: solid rgb(156, 156, 156);
}
/* Styling for PC Instruction message */
.instructionsPC {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: gray;
    text-align: justify;
    margin-top: 25%;
    background-color: black;
    padding: 15%;
}
/* Styling for PC Instruction message */
.instructionsMobile {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: gray;
    text-align: justify;
    margin-top: 25%; 
    background-color: black;
    padding: 15%;
    display: none;
}
/* Styling for Game board*/
#board{
    background-color: black;
    margin: 10%;
}
/* Styling for Game Over container and display*/
#gameOverContainer {
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
}
#gameOverMessage {
    font-size: 24px;
    margin-bottom: 10px;
}
#finalScore {
    font-size: 18px;
}
#scoreValue {
    font-weight: bold;
    color: gold;
}
#restart{
    padding: 10%;
    color: gold;
    background: grey;
    border-radius: 20%;
}
/* Styling for Virtual Keys  for Mobile Play*/
#virtualKeys {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    width: 100%;
}
.virtualKey {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    border-radius: 85%;
    display: none;
}


/*404 Error Page Style*/
.error-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Responsive styles */
/* Media Query for screens with a maximum width of 1300px */
@media only screen and (max-width: 1300px) {
    #main-title {
      font-size: 14vmin;
      left: 10%;
      right: 10%;
      top: 30%;
    }
    #sec-title {
        font-size: 8vmin;
        width: 35%;
        left: 60%;
        top: 36%;
    }
}
/* Media Query for screens with a maximum width of 780px */
@media only screen and (max-width: 780px) {
    /*Landing Page*/
    #main-title {
      font-size: 10vmin;
      left: 10%;
      right: 10%;
      top: 30%;
    }  
    #sec-title {
        top: 36%;
        width: 35%;     
    }  
    .enter {
      width: 150%;
      font-size: 3vmin;
    }

    /*Space Invaders Page*/
    /* Adjust font size for smaller screens */  
    #space-title {
        font-size: 6vmin;   
    }
    .instructionsPC{
        display: none;
    }
    .instructionsMobile{
        display: block;
    }

    #board {
        display: none;
    }

    #buttonContainer {
        display: block;
    }
    .virtualKey{
        display: block;
    }
}
